<li class="user-story-form">
  <%= form_for([@project, user_story], :remote => true) do |f| %>
  <% if user_story.errors.any? %>
    <ul>
      <% user_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

    <p class="description"><%= f.label :story %><%= f.text_area :story %></p>
    <p class="action">
      <%= f.submit %>
      <%= link_to "Close", {}, {:class => "close-form"} %>
    </p>
<% end %>
</li>