<% title "User Story - " + @project.title %>
<div class="row">
  <div class="span8">
     <ul id="product" class="unstyled connectedSortable">
        <%= render :partial => 'label', :locals => { :label => 'Product' } %>
      <% @product_backlog.each do |user_story| %>
        <%= render user_story %>
      <% end %>
    </ul>
  </div>
  <div class="span8">
    <ul id="sprint" class="unstyled connectedSortable">
      <%= render :partial => 'label', :locals => { :label => 'Sprint' } %>
      <% @current_backlog.each do |user_story| %>
        <%= render user_story %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="span16">
    <%= link_to "Create new user story", new_project_user_story_path(@project), :remote => true, :class => "create-user-story btn" %>
  </div>
</div>