<li class="project-form">
  <%= form_for(project, :remote => true) do |f| %>
  <% if project.errors.any? %>
    <ul>
      <% project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

    <h3 class="title"><%= f.label :title %><%= f.text_field :title %></h3>
    <div class="description"><%= f.label :description %><%= f.text_area :description %></div>
    <div class="action">
      <%= f.submit %>
      <%= link_to "Close", {}, {:class => "close-form"} %>
    </div>
<% end %>
</li>