<div class="project-form span12">
  <%= form_for(project, :remote => true) do |f| %>
  <% if project.errors.any? %>
      <% project.errors.full_messages.each do |msg| %>
        <div class="alert-message error" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><%= msg %></p>
        </div>
      <% end %>
  <% end %>

  <div class="row clearfix">
    <div class="span10">
        <h2 class="title">
          <%= f.label :title %>
          <div class="input"><%= f.text_field :title %></div>
        </h2>
    </div>
    <div class="span2 velocity">
      <h3><%= project.velocity %></h3>
    </div>
  </div>

  <div class="row">
    <div class="span12 description">
      <%= f.label :description %>
      <div class="input"><%= f.text_area :description %></div>
    </div>
  </div>
  <div class="row">
    <div class="action span4 offset8">
      <%= f.submit %>
      <%= link_to "Close", {}, :class => "close-form btn" %>
    </div>
  </div>
  <% end %>
</div>