<div class="project-form span12">
  <%= form_for(project, :remote => true) do |f| %>
  <% if project.errors.any? %>
      <% project.errors.full_messages.each do |msg| %>
        <div class="alert-message error" data-alert="alert">
            <a class="close" href="#">×</a>
            <p><%= msg %></p>
        </div>
      <% end %>
  <% end %>

  <div class="row">
    <div class="span9">
        <div class="clearfix">
          <%= f.label :title, {:class => "xxlarge"} %>
          <div class="input"><%= f.text_field :title %></div>
        </div>
    </div>
    <div class="span3 velocity">
      <h3>Velocity: <%= project.velocity ? project.velocity : 0 %></h3>
    </div>
  </div>

  <div class="row">
    <div class="span12 description">
      <div class="clearfix">
          <%= f.label :description %>
          <div class="input"><%= f.text_area :description, {:rows => 3, :class => "xxlarge"} %></div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class=" span6 offset2"> -->
      <div class="actions">
          <%= f.submit :class =>"btn primary" %>
          <%= link_to "Close", {}, :class => "close-form btn" %>
    <!--  </div>
    </div> -->
  </div>
  <% end %>
</div>