<li class="project-<%= project.id %>">
    <h3 class="title"><%= project.title  %></h3>
    <div class="velocity"><%= project.velocity %></div>
    <div class="description"><%= project.description %></div>
    <div class="action">
      <%# link_to "Edit", {:action => 'edit', :id => project.id}, :remote => true %>
      <%= link_to "Edit",{}, {:class => "switch"} %>
    </div>
</li>