<li class="project-<%= project.id %>">
    <h3 class="title"><%= project.title  %></h3>
    <div class="velocity"><%= project.velocity %></div>
    <div class="description"><%= project.description %></div>
    <div class="action">
      <%= link_to "Edit", edit_project_path(project), :remote => true %>
      <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :remote => true %>
      <br/><br/>
      <%= link_to 'User Stories', project_user_stories_path(project) %>
    </div>
</li>