<li class="project-<%= project.id %>">
    <h3 class="title"><%= project.title  %></h3>
    <div class="velocity"><%= project.velocity %></div>
    <div class="description"><%= project.description %></div>
    <div class="action">
      <%= link_to "Edit", edit_project_path(project), :remote => true %>
      <%# hidden_field :update_path, project.id, {:value => project_path(project), :class => "update-path"} %>
    </div>
</li>