<% title "Projects" %>

<section>
  <ul id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
  </ul>
</section>

<script id="project-form-template" type="text/x-handlebars-template">
  <li class="project-form">
    <%= form_for(Project.new, :url => "{{url}}") do |f| %>
        <h3 class="title"><%= f.text_field :title, :value => "{{title}}" %></h3>
        <div class="description"><%= f.text_area :description, :value => "{{description}}" %></div>
        <div class="action">
          <%= link_to "Close", {}, {:class => "close-form"}  %>
        </div>
    <% end %>
  </li>
</script>