<!DOCTYPE html>
<html>
<head>
  <title>Ricette</title>
  <%= stylesheet_link_tag "application", :media => "screen, projection" %>
  <%= stylesheet_link_tag "application-print", :media => "print" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "application-ie", :media => "screen, projection" %>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Kelly+Slab' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
